body{
  background: white;
  position:relative;
}

svg
{
  display: block;
  margin: auto;
}

.cercle
{
  fill:red;
  stroke:blue;
  stroke-width:2;
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  animation: animContour 10s infinite linear;
}

.ellipses
{
  fill:greenyellow;
  stroke:blue;
  stroke-width:2;
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  animation: animContour 10s infinite alternate linear;
}


#uneForme
{
transform-origin: 100px 100px;

animation: rotationFormes 5s 0s infinite linear;
}

@keyframes rotationFormes 
{ 
        from 
        { 
            transform: rotate(0deg); 
        } 
        to 
        { 
            transform: rotate(360deg); 
        }
}

@keyframes animContour 
{
  0%
  {
    stroke-dashoffset:0;
    
  }
  50%
  {
    stroke-dashoffset: 1000;
  }
  100%
  {
    stroke-dashoffset:0;
  }
}

